.Modal {
    position: fixed;
    z-index: 500px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;  
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    padding: 30px;
    width: 328px;
    border: gray;
   border-radius: 5px;
   height: 209px;
   }
   @media (min-width: 600px) {
    .Modal {
        width: 328px;
    left: calc(50% - 250px);
    }
   }